map>ul {
    display: inline-block;
}
map ul {
    list-style-type: none;
}
map>ul>li {
    display: inline;
    background-color: white;
    margin-right: 80px;

}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    cursor: pointer;
}
a:visited {
    color: inherit;
    text-decoration: inherit;
}

.account-field div {
    border-radius: 10px;
    display: block;
    position: fixed;
    top: 15%;
    right: 0px;
    width: 200px;
    height: 200px;
    background-color: white;
}