text-run {
    background: radial-gradient(closest-side at center, transparent 30%, black 65%) center / 0.055em 0.055em;
    background-color: #111;
    color: transparent;
    font: 900 5em / 1.5 monospace, system-ui;
    border: 0.1em solid black;
    text-shadow: 0 0 #fdf609, 0 0 0.05em #de1b08, 0 0 0.1em #de1b08;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

text-run::before, text-run::after {
    content: attr(text) "\a0";
    min-width: 100%;
    will-change: transform;
    animation: moveX 15s linear infinite;
    animation-direction: inherit;
    flex: 1 0 auto;
    text-align: center;
    mix-blend-mode: color-dodge;
}

@keyframes moveX {
    to {
        transform: translateX(-100%);
    }
}
