<html>
<head>
<meta charset="utf-8">
<title>
*SPACE AGENTS* #OFFICIAL#
</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/map.css">
<link rel="stylesheet" href="/css/runstring.css">
<script src="/js/jquery/jquery-3.6.0.min.js"></script>
</head>
<body>
<header>
<h2>
<mark>
&clubs;SPACE AGENTS' CLAN&clubs;
</mark>
</h2>
</header>
<header>
<p>
<mark>
Pixel gun 3D roleplay web-site
</mark>
</p>
</header>
<div class="account-field">
    <div>
        {{if ne .Login ""}}
        <mark><span>Hello, {{.Login}}</span></mark><br>
        <a href="/note">New post</a><hr>
        <a href="/singin">Sing in as another user</a><hr>
        <a href="/test">Complete the test</a>
        {{else}}
        <a href="/login">Log in</a><hr>
        <a href="/singup">Sing up</a><hr>
        <a href="/test">Complete the test</a>
        {{end}}
    </div>
</div>
<br>
<table border="4px">
<tr>
<td>
<mark>
<span>The visits counter of the web-site: {{.Usercount}}</span>
</mark>
</td>
</tr>
</table>
<br>
<mark>
Olympics update is here! Greece Gods are fighting on Olympus now.
<br>
Join the fight with new holy weapons
</mark>
<br>
<img src="/img/Screenshot_20200704-112507_Pixel Gun 3D.jpg" width="559" height="467" alt="" />
<br>
<img src="/img/Screenshot_20200704-112552_Pixel Gun 3D.jpg" width="559" height="467" alt="" />
<br>
<img src="/img/Screenshot_20200704-112656_Pixel Gun 3D.jpg" width="559" height="467" alt="" />
<br>
<img src="/img/Screenshot_20200704-112734_Pixel Gun 3D.jpg" width="559" height="467" alt="" />
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/aVMKReCQDU8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<mark>
[thanks to just spawn who making this videos]
</mark>
<br>
<mark>
Underwater update is here! You can be ocean creature or a diving group member.
<br>
Gameplay you can see next.
<br>
[thanks to just spawn who making this videos]
</mark>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/OFeB5JmAcGw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/atEdgHn-ubg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/HHeaNYbYZ9M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/cTuKvgIDRHc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
{{range .Notes}}
<p>
    <mark>
    {{.Title}} (Owner {{.Owner}})
    </mark>
    <br>
    {{$owner := .Owner}}
    {{range .Image}}
        <img src="/userdata/{{$owner}}/{{.}}" width="750" height="430" alt="" />
    <br>
    {{end}}
    <iframe width="560" height="315" src="{{.Content}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>
{{end}}
<p>
<mark>
I DID IT! WITHOUT DONATING!
</mark>
<br>
<img src="/img/Screenshot_20200523-205336_Pixel Gun 3D.jpg" width="750" height="430" alt="" />
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/rbd3Sr_6_Hs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>
<p>
<mark>
Brand new anime update is coming! New skins and weapons.
</mark>
<br>
<mark>
I want to get warden skin and sword soul card.
</mark>
<br>
<img src="/img/Screenshot_20200522-151858_Pixel Gun 3D.jpg" width="730" height="350" alt="sword soul card" />
<br>
<img src="/img/Screenshot_20200522-151938_Pixel Gun 3D.jpg" width="650" height="330" alt="lance soul card" />
<br>
<img src="/img/Screenshot_20200522-152012_Pixel Gun 3D.jpg" width="630" height="500" alt="bow soul card" />
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/vpPdbEofcUs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>
<p>
<mark>
CITY "PARKOUR 3020" NEWS:Happy Easter, city! All town celebrating this this holiday
</mark>
<br>
<mark>
but inside. The government reports that an epidemic of pixola virus has begun.
</mark>
<br>
<mark>
Now everyone must observe the quarantine. The government stopped sponsoring spase agents.
</mark>
<br>
<mark>
The clan was destroyed, but recently re-created. And began to develop anew.
</mark>
<br>
</p>
<p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/du7JctbzU8Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<mark>
CITY "PARKOUR 3019" NEWS:The students to go crazy because of the big homework. Now the first class can't count 1*1.
<br>
<mark>
But the teachers got a raise. Already 50 schools is closed. 11 classes began to celebrate the New Year with king of mice.
<a href=""></a>
<table>
</table>
<table>
</table>
</p>
<img src="/img/Screenshot_20191225-183124_Instagram.jpg" width="600" height="350" alt="Heroes' street camera N' 2" />
<table class=”b” width="90%">
<tr>
<td>All weapons</td>
</tr>
<tr>
<td>3255 Dollars</td>
</tr>
</table>
<p>
<mark>
CITY "PARKOUR 3019" NEWS: BLOQ has come up with a new special forces weapon.
</mark>
<br>
<mark>
Although it does little damage but the rate of fire they will not yield to anyone. AK470 machine gun, P2500 pistol and SHOCK: police favorite weapon.
</mark>
<br>
<mark>
A sniper rifle "Nemesis" throws olives at enemies.
</mark>
</p>
<img src="/img/Screenshot_20191127-183547_Pixel Gun 3D.jpg" width="600" height="255" alt="AK470" />
<img src="/img/Screenshot_20191127-183637_Pixel Gun 3D.jpg" width="300" height="300" alt="P2500" />
<img src="/img/Screenshot_20191127-183736_Pixel Gun 3D.jpg" width="555" height="255" alt="SHOCK" />
<img src="/img/Screenshot_20191127-183838_Pixel Gun 3D.jpg" width="600" height="300" alt="NEMESIS" />
<img src="/img/Screenshot_20191120-181101_Instagram.jpg" width="211" height="318" alt="Hallow" />
<p>
<mark>
CITY "PARKOUR 3019" NEWS:
On Earth had flown another super villain... His name is Hallow. According to him, he flew into town to celebrate Hallowen.
</mark>
</p>
<p>
<mark>
But in fact Hallow gramps Royal banks and arranges fights. Who will stop him? The police are powerless, it remains to hope for Space Agents!
</mark>
<p>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/gTBXSyab_hg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<img src="/img/20191120_182809.jpg" width="500" height="255" alt="Hallow's weapon" />
<img src="/img/20191120_182829.jpg" width="500" height="255" alt="Hallow's weapon" />
<img src="/img/20191120_182919.jpg" width="500" height="255" alt="Hallow's weapon" />
<img src="/img/20191120_182856.jpg" width="211" height="258" alt="Hallow (street photo)" />
<table width="90%" class=”b”>
<tr>
<td valign="top" width="150" background="/img/20191120_182856.jpg">the old financial condition of the city of Parkour</td>
<td valign="top" background="/img/Screenshot_20191120-181101_Instagram.jpg">robbed money</td>
</tr>
<tr>
<td valign="top" width="150" background="/img/vhm9Yu38zy0.jpg">523542462527 Dollars</td>
<td valign="top" background="/img/vhm9Yu38zy0.jpg">2133459 Dollars</td>
</tr>
</table>
<p>
<mark>
<a href="https://play.google.com/store/apps/details?id=com.pixel.gun3d">Dowload Pixel 3D gun on Google play</a>
</mark>
<br>
<mark>
My PG3d ID: 168061712
<br>
My youtube channel:
<a href="https://www.youtube.com/channel/UCEDzslafDS95ZPrPB4_4UzA">ArturAgent007</a>
</mark>
</p>
<text-run text="Please support the project!"></text-run>
<p>
    <mark>
        Helping with creating web-site:
        <a href="http://zojkin.ru/">Zojkin.ru</a>
        <br>
        Authors: Arthur, Andrey
        <br>
        <a href="https://github.com/Catgirllover/">Artur's GitHub</a><br><a href="https://github.com/Hey-de/">Andrey's GitHub</a>
    </mark>
</p>
</body>
</html>
